__pycache__
env/
.env

/flask_session

.DS_Store
node_modules
/dist

# datasets
aclImdb/
test_tweets.csv
train_tweets.csv
train.csv
glove.6B.100d.txt
training.1600000.processed.noemoticon.csv

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# random files
test.py
